<li class="separator"></li>
<li id="text-align-left" class="format">
    <a class="grouped-left" data-format-class="-1"><span class="alignmenticon alignmenticon-left"></span></a>
</li>
<li id="text-align-center" class="format">
    <a class="grouped-middle" data-format-class="0"><span class="alignmenticon alignmenticon-center"></span></a>
</li>
<li id="text-align-right" class="format">
    <a class="grouped-middle" data-format-class="1"><span class="alignmenticon alignmenticon-right"></span></a>
</li>
<li id="text-align-justify" class="format">
    <a class="grouped-right" data-format-class="2"><span class="alignmenticon alignmenticon-justify"></span></a>
</li>