<li class="separator"></li>
<li id="normal-heading" class="headings">
    <a class="grouped-left" data-heading="-1"><span class="headingicon headingicon-normal"></span></a>
</li>
<li id="first-heading" class="headings">
    <a class="grouped-middle" data-heading="0"><span class="headingicon headingicon-heading1"></span></a>
</li>
<li id="second-heading" class="headings">
    <a class="grouped-middle" data-heading="1"><span class="headingicon headingicon-heading2"></span></a>
</li>
<li id="third-heading" class="headings">
    <a class="grouped-middle" data-heading="2"><span class="headingicon headingicon-heading3"></span></a>
</li>
<li id="fourth-heading" class="headings">
    <a class="grouped-middle" data-heading="3"><span class="headingicon headingicon-heading4"></span></a>
</li>
<li id="fifth-heading" class="headings">
    <a class="grouped-middle" data-heading="4"><span class="headingicon headingicon-heading5"></span></a>
</li>
<li id="sixth-heading" class="headings">
    <a class="grouped-right" data-heading="5"><span class="headingicon headingicon-heading6"></span></a>
</li>