#comments {
    position: absolute;
    margin: 0;
    padding: 0;
}

#comments {
  width: 210px;
  height: 100%;
}

#comments .sidebar-comment {
  width: 180px;
  background: #fafafa;
  padding: 6px;
  border: 5px solid #eaeaea;
  border-radius: 2px;
  margin-left: 8px;
  overflow: hidden;
}
